$main_color: rgba(3, 0, 34, 0.9);
$navbar_height: 60px;

$height_of_logo: 40px;
$main_dark_grey: #333;
$main_light_grey: #f5f5f5;
$orange: #ffbb00;
$min_font_weight: 100;
$white: white;

// $b
// for media queries
$media_navbar_height: 200px;
$media_navbar_width: 670px;
