%mess {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Arial;
}

* {
  margin: 0;
  padding: 0;
  /* color: white; */

  font-family: "Open Sans Condensed", sans-serif;
}

.error {
  @extend %mess;
  background: red;
}

.success {
  @extend %mess;
  background: green;
}
